<div class="laclogin-0-3" name="LAC Login">
 <img class="vector-0-4" src="assets/images/Modules/lac-login/vector-0_4.svg"/>
 <div class="group-0-27" name="Group">
  <div class="group-0-28" name="Group">
  </div>
  <div class="group-0-29" name="Group">
   <input class="text-0-30" placeholder="Email" type="text"/>
   <input class="text-0-34" placeholder="Password" type="text"/>
   <button class="btn-0-38" type="button">
    SIGN IN
   </button>
   <label class="text-0-41" type="text" value="Forgot Email or Password?">
    Forgot Email or Password?
   </label>
   <label class="text-0-42" type="text" value="Remember me">
    Remember me
   </label>
   <label class="text-0-43" type="text" value="Sign in">
    Sign in
   </label>
   <label class="text-0-44" type="text" value="Stay updated on your AI application">
    Stay updated on your AI application
   </label>
  </div>
  <input class="checkbox-0-45" type="checkbox"/>
 </div>
 <img class="vector-0-48" src="assets/images/Modules/lac-login/vector-0_48.svg"/>
 <img class="img-0-65" src="assets/images/Modules/lac-login/img-0_65.png"/>
 <label class="text-0-66" type="text" value="About Us">
  About Us
 </label>
 <label class="text-0-67" type="text" value="Powerted By">
  Powerted By
 </label>
 <img class="vector-0-68" src="assets/images/Modules/lac-login/vector-0_68.svg"/>
 <label class="text-0-73" type="text" value="Contact">
  Contact
 </label>
 <label class="text-0-74" type="text" value="login">
  login
 </label>
 <label class="text-0-75" type="text" value="ALIGNED aI APPLICATIONS">
  ALIGNED aI APPLICATIONS
 </label>
</div>
